/* Footer */

.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer .row > .col3 {
    width: calc(100% / 3);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer .row > .col1 {
    width: 100%;
}

.copyright {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25em;
}

.footer {
    h2 {
        font-size: 1.5em;
    }
    
    a {
        color: vars.$font-color;
        text-decoration: none;  
        font-size: 2rem;
    }
}
