/* header-dark-theme.scss */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.title, .logo {
    padding: 2em 0;
    margin-right: 2em;
}

@media (max-width: 767px) {
    .title {	
        padding: 2em 0 2em 1em;
        //min-width: 50%;
    }
    
    .logo {
        max-width: 40%;
    }	
}

@media (max-width: 640px) {
    .logo {
        display: none;
    }
    
}

.title {
    * {
        color: vars-dark-theme.$primary-color-lighter;
        letter-spacing: 0.1em;
        text-decoration: none;
    }
    
    h4 {
        font-size: 2.5rem;
        text-transform: uppercase;
 
    }
	
    p {
        font-size: 1.5em;
        font-style: italic;		
    }
}

.nav {
    a {
        text-decoration: none;
    }
	
    .active {
        border-bottom: 5px solid vars-dark-theme.$accent-color;
    }
}
