@media (max-width: 767px) {   
    .main {
        // padding: 0 !important;
    }
    
    .grid,
    .gallery {   
        .one-span {
            grid-column: span 3;
        }
        
        .two-span {
            grid-column: span 3;
        }
        
        .three-span {
            grid-column: span 3;
        }
    }
    
    .gallery {
        img {
            width: 100%;
        }
    }
    
    .flex {
        .tech-menu {
            display:none;
        }
        
        .main-content {
            width: 100%;
        }
    }
}


@media (max-width: 767px) {     
    .footer .row {     
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .footer .row > .col3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
}