@use 'font-awesome';
@use 'fa-icons';
@use 'google-fonts';
@use 'vars-dark-theme';

@import '../../node_modules/normalize.css/normalize';

@import 'header-dark-theme';
@import 'technology-dark-theme';
@import 'blockquotes-dark-theme';
@import 'code-dark-theme';
@import 'mobile-menu-dark-theme';
@import 'footer-dark-theme';
@import 'responsive';

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

html, body {
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    background-color: vars-dark-theme.$body-color;
    line-height: 1.5;
    color: #FFF;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
    font-size: 2rem;
    //margin-bottom: 2rem;
    color: vars-dark-theme.$primary-color-lighter;   
    letter-spacing: 0.1em;
    line-height: 2;
}

h1 {
    font-size: 2.8em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 0.67em;
}

article img,
article embed,
article object,
article video {
    max-width: 100%;
}

.main {
    flex: 1 0 auto;
    padding: 2em 0;
    border-top: 1px solid vars-dark-theme.$primary-color-lighter;
    border-bottom: 1px solid vars-dark-theme.$primary-color-lighter;
    background-color: vars-dark-theme.$primary-color-darker;
}

.article {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 2em;
    background-color: vars-dark-theme.$primary-color;
    color: vars-dark-theme.$body-text;
    
    ol, ul {
        margin: 2em 0;
    }
    
    ul li {
        margin-bottom: 1em;
    }
    
    a {
        color: vars-dark-theme.$primary-color-lighter;
    }
    
    a:hover {
        color: vars-dark-theme.$accent-color;
    }
}

figure {
    float: left;
}

.me {
    border: double vars-dark-theme.$primary-color-darker;
    max-width: 250px;
    margin-right: 1.5em;
    padding: 0.25em;
    filter: brightness(85%);
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
    line-height: 1.8;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

.header, .footer {
    padding: 2em;
    color: vars-dark-theme.$body-text;
    font-size: 1.2em;
    //background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    background-color: vars-dark-theme.$primary-color;
}

.header {
    img {
        background-image: url("../../../assets/img/logo-dark.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* 01_colors.md */
.website-screencap {
    max-width: 100%;
    filter: brightness(90%);
    background-color: vars-dark-theme.$primary-color-darker;
    border: double vars-dark-theme.$primary-color-darker;
    padding: 0.25em;
}

.color-table {
    background-color: vars-dark-theme.$primary-color-darker;
    padding: 0.5em;
    
    td {
        border: 2px solid vars-dark-theme.$body-text;
    }
}

/* gallery page */
.gallery {
    display: grid;
    grid-gap: 2em;
    background-color: #046;
    padding: 2em;
    outline: 4px double vars-dark-theme.$primary-color-lighter;
    
    h1 {
        grid-column: span 3;
        text-decoration-style: wavy;
        text-decoration-line: underline;
    }

    
    img {
        display: block;
        margin: 0 auto;
        box-shadow: 8px 8px 10px -1px vars-dark-theme.$primary-color-darker;
        filter: brightness(90%);
    }
    
    img:hover {
        position: relative;
        bottom: 2px;
        right: 2px;
        transition: all 0.5s;
        filter: brightness(110%);
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    
    }
}


/* 02_load.md */
.pageload-spreadsheet {
    width: 100%;
    height: 600px;
    
}

/* Github icon */
.fab,
.fas{
    color: vars-dark-theme.$accent-color;
    font-size: 1.8em;
    margin-right: 1rem;
    margin: 1rem;
}

.fab:hover,
.fas:hover{
    color: vars-dark-theme.$primary-color-lighter;
}