.grid {
    display: grid;
    gap: 1em 1em;
    
    h1 {
        grid-column: span 3;
        justify-self: center;
    }
    
    .one-span {
        grid-column: span 1;
    }

    .two-span {
        grid-column: span 2;
    }

    .three-span {
        grid-column: span 3;
    }
}

.box {
    
    border-radius: 4px;
    background-color: vars-dark-theme.$primary-color-darker;
    cursor: pointer;
    box-shadow: 8px 8px 10px -1px vars-dark-theme.$primary-color-darker;
    
    a {
        display:inline-block;
        width:100%;
        height:100%;
        text-align: center;
        padding: 2em;
        text-decoration: none;
        color: vars-dark-theme.$body-text !important;
        font-weight: bolder;
        font-size: 1.5rem;
        transition: all .5s;
    }
    
    a:hover {
        color: vars-dark-theme.$primary-color !important;
    }
    
    :hover {
        background-color: #FFF;
    }
}

.flex {
    display: flex;
}

.tech-menu {

    width: 30%;
    margin-right: 3em;
    border-right: 1px solid vars-dark-theme.$primary-color-lighter;
    
    h4 {
        background-color: vars-dark-theme.$primary-color-darker;
        padding-left: 1rem;
        color: vars-dark-theme.$body-text;
    }
    
    a {
        display: block;
        padding-left: 1em;
        font-size: 1.2em;
        letter-spacing: 0.1rem;
        color: vars-dark-theme.$primary-color-lighter;
    }
    
    a:hover {
        color: vars-dark-theme.$accent-color;
    }
}

.main-content {
    width: 70%;
}

