{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="flex article">
            <aside class="tech-menu">
                <h4>Analyser</h4>
                {% for page in pages("analysis") %}
                    <a href="{{ page.url }}">{{ page.title }}</a><br>
                {% endfor %}
                <br>
                <a href="../analysis">&lt; Tillbaka</a>
            </aside>
            <div class="main-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>